.bg{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: scale-down;
    width: 100%;
    z-index: -1;
}

.text{
    color: #f7f21a;
    margin-top: 200px;
    font-size: 70px;
    mix-blend-mode: overlay;
}

.typewritter{
    margin-left: 200px;
}

.btn{
    background-color: #1c6b72;
    color: white;
    width: 400px;
    height: 100px;
    margin-left: 35%;
    margin-top: 200px;
    outline: none;
    border:none;
    font-size: 50px;
    border-radius: 5px;
    animation: btnRent 2s linear infinite alternate;
}

@keyframes btnRent {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}